.formControl {
    position: relative;
}

.formControl.error input,
.formControl.error textarea {
    border: 1px tomato solid;
}

.formControlError {
    position: absolute;
    color: white;
    background-color: tomato;
    padding: 2px 5px;
    bottom: 10px;
    left: 0;
    font-size: .75em;
}
