.header {
    grid-area: h;
    background-color: #379683;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
    position: relative;
    display: grid;
    grid-template-columns: 10fr 2fr;
}
.logo h1 {
    font-size: .80em;
    color: #fff;
    text-shadow: 1px 1px 1px #05386b, 0 0 .5px #05386b;
    position: absolute;
    top: 22px;
    left: 70px;
}
.logo img {
    margin: 25px 20px 20px;
    width: 170px;
}
  
.loginBlock {
  display: grid;
  justify-self: center;
  align-items: center;
  font-size: 1.1em;
  color: #fff;
  text-shadow: 1px 1px 1px #05386b, 0 0 .5px #05386b;
  font-weight: 600;
}
.logIn {
  font-size: 1.2em;
}
.loginLink {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.logOutButton {
  background-color: #5cdb95;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-shadow: 0 0 2px #05386b;
  padding: 3px 12px;
  align-self: flex-end;
  cursor: pointer;
  font-size: .7em;
  font-weight: 600;
}