.nav {
    grid-area: n;
    background-color: #5cdb95;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }
  .list {
    margin: 20px;
  }
  .item {
    margin-bottom: 15px;
    list-style-type: none; 
  }
  .item:last-child {
    margin-top: 40px; 
  }
  .item a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0 0 2px #05386b;
  }
  .item a.activeLink {
    color: #318775;
    text-shadow: 0 0 2px #fff;
  }
  .item a:hover:not(.activeLink) {
    color: rgba( 242, 242, 242, 1);
  }
