.profile {
  grid-area: c;
  background-color: transparent;
  color: #05386b;
}
.header img {
  max-height: 200px;
  width: 100%;
}
.description {
  display: flex;
  margin: 10px 0;
}
.avatar {
  max-width: 15%;
  height:15%;
}
.content {
  margin: 10px 30px;
}
.contentTitle {
  font-size: 1.9em;
  font-weight: 600;
  margin-bottom: 20px;
}
.date, .city, .education, .web {
  font-size: 1.3em;
  margin-bottom: 7px;
}
.web a {
  text-decoration: none;
  color: #379683;
  font-weight: 400;
}
.posts {
  margin: 30px 20px;
  width: 90%;
}
.postsTitle {
  font-size: 1.5em;
  font-weight: 500;
}
.postNew {
  margin: 20px 0 20px;
  display: flex;
  flex-direction: column;
}
.postNew textarea {
  outline: none;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 1em;
  color: #05386b;
  margin-bottom: 10px;
  resize: none;
  background-color: rgba( 204, 204, 204, .3);
}
.postNew textarea::placeholder {
  font-size: 1.1em;
  color: #999;
}
.postNew input {
  background-color: #5cdb95;
  border: 1px solid #379683;
  color: #05386b;
  padding: 5px 30px;
  align-self: flex-end;
  cursor: pointer;
  outline: none;
  font-size: 1em;
}
.postNew input:hover {
  box-shadow: 0 0 2spx rgba(0,0,0,0.3);
}
.message {
  margin-bottom: 100px;
}
.postItem {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  font-weight: 700;
  color: #05386b;
  margin-bottom: 30px;
}
.postItem img {
  max-width: 70px;
}
.postItem p {
  margin: 20px 0 0 30px;
}