.header img {
  max-height: 200px;
  width: 100%;
}
.description {
  display: flex;
  margin: 10px 0;
}
.avatar {
  max-width: 15%;
  height: 15%;
}
.content {
  margin: 10px 30px;
}
.contentTitle {
  font-size: 1.9em;
  font-weight: 600;
  margin-bottom: 20px;
}
.date,
.city,
.education,
.web {
  font-size: 1.3em;
  margin-bottom: 7px;
}
.web a {
  text-decoration: none;
  color: #379683;
  font-weight: 400;
}
.web a:hover {
  color: #3c82b0;
}
