.header img {
  max-height: 200px;
  width: 100%;
}
.description {
  display: flex;
  margin: 10px 20px;
}
.avatar {
  max-width: 18%;
  height: 18%;
}
.content {
  font-size: 1.3em;
  margin: 10px 30px;
}
.contentTitle {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 20px;
}
.contentItem {
  margin-bottom: 7px;
}
.content h4{
  text-transform: capitalize;
}
.contentData {
  text-decoration: none;
  color: #379683;
}