.message {
  /* margin-bottom: 10px; */
  /* border-bottom: 1px solid rgba(5, 56, 107, .1) ; */
}
.postItem {
  display: flex;
  align-items: flex-end;
  font-size: 1.1em;
  font-weight: 500;
  color: #05386b;
}
.postItem img {
  max-width: 45px;
  margin-right: 30px;
}
.postItem p {
  margin-bottom: 5px;
}
.buttonWrap {
  text-align: right;
}
.button {
  cursor: pointer;
  margin: 5px 0;
  width: 4em;
  font-size: 0.9em;
  font-weight: 400;
  background-color: transparent;
  border: none;
}
.button span {
  margin-left: 5px;
}
.button:focus {
  outline: none;
}
