.message {
  padding: 5px 0;
}
.postItem {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  font-weight: 500;
  color: #05386b;
}
.postItem img {
  max-width: 100px;
  margin-right: 20px;
}

.buttonWrap {
  text-align: right;
}
.buttonLike {
  cursor: pointer;
  margin: 5px 0;
  font-size: 0.9em;
  font-weight: 400;
  background-color: transparent;
  border: none;
  color: #05386b;
}
.buttonLike span {
  margin-left: 5px;
}
.buttonLike:focus {
  outline: none;
}
