.wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 70vh;
    grid-template-areas:
        ". a .";
}

.form {
    grid-area: a;
    align-self: center;
    justify-self: center;
    position: relative;
}

.formItemInput {
    outline: none;
    border: 1px solid #ddd;
    padding: 5px 10px;
    font-size: 1em;
    color: #05386b;
    margin-bottom: 10px;
    resize: none;
    background-color: rgba(204, 204, 204, .3);
}
.formItemInput::placeholder { 
    color: #999; 
}

.formCheckbox {
    margin: 10px 0;
    font-size: .85em;
}

.formCheckboxLabel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.formCheckboxInput {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    margin-right: 5px;
}

.formLoginButton {
    background-color: #5cdb95;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-shadow: 0 0 2px #05386b;
    padding: 5px 30px;
    cursor: pointer;
    font-size: .9em;
    font-weight: 600;
}
.formLoginButton:hover {
    box-shadow: 0 0 2px rgba(139, 108, 108, .9);
    text-shadow: 0 0 3px #05386b;
    background-color: #52C586;
}
.formControlError {
    color: white;
    background-color: tomato;
    margin-top: 10px;
    padding: 4px 10px;
    text-align: center;
    font-size: .75em;
    position: absolute;
    width: 100%;
}