@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "reset";

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #edf5e1;
}
.app-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;

  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  justify-content: center;

  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.app-content {
  grid-area: c;
  background-color: transparent;
  color: #05386b;
}
