.title {
  font-size: 1.5em;
  font-weight: 600;
  padding: 10px;
}

.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px 20px;
}

.messagesItems {
  padding: 10px;
}

.messageNew {
  margin: 20px 0 20px;
}

.messageNewTextarea {
  outline: none;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 1em;
  color: #05386b;
  margin-bottom: 6px;
  resize: none;
  background-color: rgba(204, 204, 204, .3);
}

.messageNewTextarea::placeholder {
  font-size: 1em;
  color: #999;
}

.messageNewButton {
  background-color: #5cdb95;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-shadow: 0 0 2px #05386b;
  padding: 5px 25px;
  cursor: pointer;
  font-size: .9em;
  font-weight: 600;
}

.messageNewButton:hover {
  box-shadow: 0 0 2px rgba(139, 108, 108, .9);
  text-shadow: 0 0 3px #05386b;
  background-color: #52C586;
}